<ion-header [translucent]="true">
  <ion-toolbar class="custom-header">
    <div class="header-logo-container">
      <!-- <img src="assets/Logo.png" alt="Logo" class="logo" /> -->
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding custom-content">
  <div class="welcome-container">

    <!-- <img 
      src="assets/Online Learning.gif" 
      alt="Daily Work GIF" 
      class="welcome-gif" 
    /> -->

  
    <p class="welcome-text">
      Your Daily Work, Your Way — Let's Begin Tracking
    </p>

  
    <ion-button expand="block"shape="round" size="large" class="btn"  (click)="goToRegister()">
      GET STARTED
    </ion-button>

  </div>
</ion-content>
