 <div class="popup-container">

<div class="top-header">
  {{ today | date:'EEEE, d MMMM' }}
</div>

  <div class="month-selector">
    <ion-icon name="chevron-back-outline" (click)="prevMonth()"></ion-icon>
    <span>{{ monthName }} {{ year }}</span>
    <ion-icon name="chevron-forward-outline" (click)="nextMonth()"></ion-icon>
  </div>


  <div class="weekdays">
    <span *ngFor="let d of ['S','M','T','W','T','F','S']">{{ d }}</span>
  </div>

  <div class="days">
    <div
      *ngFor="let day of days"
      class="day"
      [class.empty]="!day"
      [class.today]="day && isToday(day)"
      [class.selected]="day && isSelected(day)"
         (click)="day && !isWeekend(day) && select(day)">
      {{ day }}
    </div>
  </div>

  <div class="footer">
    <button (click)="close()">CANCEL</button>
  </div>

</div> 
