// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/


:root {
  --header-bg: #23D5D1;
  --background: #E9F7F7;
  --item-bg: #ffffff;
  --item-border: #B0E0E6;
  --button-bg: #1FC7C3;
  --button-text: #ffffff;
  --text-color: #056162;
  --radius: 18px;
  --focus-ring: #1FC7C366;
}

// ion-content {
//   --padding-top: env(safe-area-inset-top);
//   --padding-bottom: env(safe-area-inset-bottom);
// }

// ion-header {
//   padding-top: env(safe-area-inset-top);
// }
